<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>
    <div class="container" style="display: flex;justify-content: center;">
        <form action="/login" method="post">
            <h2>Login Page</h2>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Password" required >
            <p id="sameemail" style="color: red; font-size: 12px;">
                <%= message %>
            </p>
            <br><br>
            <button type="submit">Login</button>
            <p>Forgot your login details? <a href="">Get help logging in</a></p>
        </form>

    </div>
</body>

</html>